@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@media screen and (max-width: 768px) {

  /*---Header---*/

  header {
    padding: 1rem;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  .logo {
    height: 2rem;
    width: 2.7rem;
    display: block;
    margin: 0 auto;
  }

  ul {
    margin: 0.5rem auto;
    padding: 0;
    font-size: small;
  }

  div {
    display: flex;
    flex-direction: column-reverse;
  }

  .avatar {
    height: 50%;
    width: 50%;
    margin: 0.5rem auto;
  }

  /*Sections*/

  main > section > article > img {
    width: 20rem;
    height: 10rem;
  }

  .article_container {
    display: flex;
    flex-direction: column;
  }

  .article_blocks {
    margin: 1rem;
  }

  section > p {
    padding: 0;
    margin: auto 1rem;
  }
}
